/*
 * CSS File for the solution
 * Assignment 03
 * You can modify these styles but you don't have to
 */

/*
 VARIABLES
*/

  

:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

}

*{
margin: 0;
padding: 0;
font-family: 'poppins' , sans-serif;
box-sizing: border-box;
}


.container{
width: 100%;
min-height: 100vh;
background: linear-gradient(135deg, #a2bbee, #964aaa);
padding: 10px;
margin-bottom: 10px;
}


.todo-app{
width: 100%;
max-width: 540px;
background: #fafafa;
margin: 100px auto 20px;
padding: 40px 30px 70px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.15);                
}

.todo-app h2{
  color: #d5dce3;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app img{
  width: 400px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 40px;

}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #bee4e4;
  width: 500px;
  margin-bottom: 28px;
  border-radius: 30px;
  padding-left: 0px;
}

input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 20px;
  color: #647383;
  font-weight: 500;
  width: 100%;
  
  
}

button{
  border: none;
  outline: none;
  background: #7eb1d1;
  color: #070606;
  font-size: 16px;
  border-radius: 40px;
  width: 300px;
  cursor: pointer;
  position: relative;
  margin-left: 90px;
  margin-right: 30px;
  padding: 10px 10px;
  
}

button:hover{
  background: #6bcbfb;
}

ul li {
  list-style: none;
  font-size: 18px;
  padding: 12px 8px 12px 15px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li:hover{
  background: #7eb1d1;
  color: #070606;
}


ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li span{
  position: absolute;
  right: 0px;
  top: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #555;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
}

ul li span:hover{
  background: #000;
}

.empty_state{
  position: relative;
  bottom: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 80px;
  flex-direction: column;
}

.empty_state img{
  width: 90px;
  position:absolute ;
  top: 10px;
  right: 0px;

  max-width: 300px;
  margin-top: 20px;
  
}

.empty_state h2{
  color: #0c0c0d;
  font-size: 20px;
  
  text-align: center;
}

.empty_state p{
  color: #1c2632;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.empty_state button{
    border-radius: 20px;
    align-self: center;
    padding: 8px 5px;
    position: relative;
    margin-left: 20px;
    width: 90%;
    max-width: 200px;
    background: #348AC7;
    color: white;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-size: 12px;
}

.empty_state button:hover{
  background: #222425;
}

@media (max-width: 768px){
  .todo-app{
    margin: 100px 20px 20px;
  }
}

@media (max-width: 480px){
  .todo-app{
    margin: 100px 10px 20px;
  }
}

@media (max-width: 320px){
  .todo-app{
    margin: 100px 5px 20px;
  }
}