/*
 * CSS File for the solution
 * Assignment 03
 * You can modify these styles but you don't have to
 */

/*
 VARIABLES
*/

  

:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

}

*{
margin: 0;
padding: 0;
font-family: 'poppins' , sans-serif;
box-sizing: border-box;
}


.container{
width: 100%;
min-height: 100vh;
background: linear-gradient(135deg, #153677, #4e085f);
padding: 10px;
}


.todo-app{
width: 100%;
max-width: 540px;
background: #fafafa;
margin: 100px auto 20px;
padding: 40px 30px 70px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.15);                
}

.todo-app h2{
  color: #002751;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img{
  width: 80px;
  margin-left: 10px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #bee4e4;
  margin-bottom: 25px;
  border-radius: 30px;
  padding-left: 20px;
}

input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  color: #647383;
  font-weight: 500;
  width: 100%;
}

button{
  border: none;
  outline: none;
  background: #7eb1d1;
  color: #070606;
  font-size: 16px;
  border-radius: 40px;
  cursor: pointer;
  padding: 16px 50px;
}

ul li {
  list-style: none;
  font-size: 18px;
  padding: 12px 8px 12px 15px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li:hover{
  background: #7eb1d1;
  color: #070606;
}



ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li span{
  position: absolute;
  right: 0px;
  top: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #555;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
}

ul li span:hover{
  background: #000;
}